@font-face {
  font-family: "Exo2";
  src: 
    url("./assets/fonts/Exo2-Regular.woff2") format("woff2"),
    url("./assets/fonts/Exo2-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg: #252b3b;
  --sidebar-bg: #1a1f2e;
  --main-bg: #1e2330;
  --input-bg: #394157;
  --primary-color: #e8e8e8;
  --hover-color: #ffb800;
  --active-color: #ff6b35;
  --button-color: #00d4ff;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  color: var(--primary-color);
  font-family: "Roboto", system-ui, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 5fr;
  max-height: 100vh;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--hover-color);
  transition: all .2s ease-in-out;
}

a:active {
  color: var(--active-color);
  transition: all .1s ease-in-out;
}

/* Header */

header {
  background-color: var(--header-bg);
  grid-area: header;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "search user-info"
    "welcome-message btn-container";
  justify-content: space-between;
  padding: 0 2rem 1rem;
  z-index: 5;
  box-shadow: 10px 1px 10px var(--button-color);
}

.search {
  display: flex;
  gap: 1rem;
  align-items: center;
  grid-area: search;
}

.search > button,
.user-info > button {
  background-color: var(--header-color);
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.search > button:hover,
.user-info > button:hover {
  transform: scale(1.3);
}

.search > input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-bg);
  border-radius: 20px;
  font-size: 1rem;
  color: #e8e8e8;
  padding: .4rem 1rem;
  transition: all .2s ease-in-out;
  width: 70ch;
}

.search > input:hover {
  border: 1px solid var(--hover-color);
  transition: all .2s ease-in-out;
}

.search > input:focus {
  outline: none;
  border: 1px solid var(--active-color);
  transition: all .2s ease-in-out;
}

.user-info {
  grid-area: user-info;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.user-info > a {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.25rem;
  letter-spacing: 1.4px;
}

.user-info div,
.welcome-message div:first-child,
.trending .user > div:first-child {
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 200px;
}

.user-info div,
.trending .user > div:first-child {
  width: 60px;
  height: 60px;
}

.welcome-message {
  grid-area: welcome-message;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.welcome-message div:first-child {
  width: 75px;
  height: 75px;
}

.welcome-message div:last-child {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.welcome-message div:last-child span:last-child {
  font-size: 1.5rem;
}

.btn-container {
  grid-area: btn-container;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.btn-container button {
  background-color: var(--button-color);
  border: none;
  font-size: 1.1rem;
  padding: .75rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn-container button:hover {
  background-color: var(--hover-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
}

.btn-container button:active {
  background-color: var(--active-color);
  transition: all 0.2s ease-in-out;
}

/* Sidebar */

.sidebar {
  background-color: var(--sidebar-bg);
  grid-area: sidebar;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  align-items: start;
  gap: 5rem;
  max-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar h1 {
  font-family: "Exo2", system-ui, sans-serif;
  text-transform: uppercase;
}

.sidebar ul {
  list-style: none;
  font-size: 1.4rem;
}

.sidebar a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.sidebar ul li:nth-child(n+2){
  margin-top: 1rem;
}

/* Main */ 

main {
  background-color: var(--main-bg);
  grid-area: main;
  max-width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas:
    "projects announcements"
    "projects trending";
  padding: 2rem 1.5rem 0rem;
  gap: 2rem;
}

main h2 {
  font-size: 1.2rem;
}

main p {
  line-height: 1.5;
  font-size: .8rem;
}

.projects {
  grid-area: projects;
  height: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.projects .card {
  background-color: var(--header-bg);
  border-radius: 15px;
  padding: 2rem 1.5rem 1.5rem;
  border-left: 5px solid var(--hover-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0px 2px 5px var(--button-color);
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-.5rem);
}

.card h3 {
  margin-bottom: 0.25rem;
  font-size: .9rem;
}

.card > div:last-child {
  display: flex;
  gap: 1rem;
  align-self: end;
}

.projects button {
  background-color: var(--header-bg);
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.projects button:hover {
  transform: scale(1.3);
}

.announcements {
  grid-area: announcements;
}

.announcements-container,
.trending-container {
  background-color: var(--header-bg);
  gap: 1rem;
  padding: 1.25rem;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0px 2px 5px var(--button-color);

}

.announcements-container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
}

.announcements-container h3 {
  margin-bottom: 0.5rem;
  font-size : .9rem;
}

.announcements-container p {
  font-size: 0.8rem;
 
}

.trending {
  grid-area: trending;
}

.trending-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: .5rem;
  padding: 1.5rem;
}

.trending-container .user > div:first-child {
  max-height: 50px;
  max-width: 50px;
  place-self: center;
}

.trending-container .user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
  max-width: 175px;
}

.trending-container .user > div:last-child {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

.trending-container .username {
  font-weight: 600;
}